/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --capture-color: #ff0070;
  --main-text-color: #f1b2ce;
  --large-title-color: #db00ff;

  --background-image: url(../images/cover-image-dark.png);
}

.header__dark-theme-rec::before,
.header__dark-theme-rec::after {
  display: block;
}

.theme-light .header__dark-theme-rec::before,
.theme-light .header__dark-theme-rec::after {
  display: none;
}
